<div class="container">
  <div class="row">
      <div class="col-4"></div>
      <div class="col-4 summary">
          <table>
            <tr>
              <th>Wins Player One </th>
                <th>Wins Player Two</th>
                <th>Draw</th>
              </tr>
              <tr>
                <th>{{summary.winsPlayerOne}}</th>
                <th>{{summary.winsPlayerTwo}}</th>
                <th>{{summary.draws}}</th>
              </tr>
            </table>
          </div>
          
  </div>
</div>