<div class="container">
  <div class="row">
      <div class="col-4">
        <h2 class="data-header">Wins Player One </h2>
        <div class="data-result">{{summary.winsPlayerOne}}</div>
      </div>
      <div class="col-4">
        <h2 class="data-header">Wins Player Two </h2>
        <div class="data-result">{{summary.winsPlayerTwo}}</div>
      </div>
      <div class="col-4">
        <h2 class="data-header">Draws</h2>
        <div class="data-result">{{summary.draws}}</div>
      </div>          
  </div>
</div>