<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="navbar-brand"></div>

      <div class="navbar-brand">Room</div>
      
      <div class="navbar-brand">
        <button type="button" *ngIf="viewSummary" (click)="goSummary()" class="btn btn-success">Summary</button>
        <button type="button" *ngIf="!viewSummary" (click)="goRound()" class="btn btn-info">Round</button>
      </div>
    </div>
</nav>


<app-summary *ngIf="viewSummary"></app-summary>


<app-round *ngIf="!viewSummary" ([round])="round" ([lastRound])="room.lastRound" ([numberRound])="numberRound"></app-round>

